<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo1.css' %}"> 
</head>
<body>

    <div class="header-top">
        Grupo Galano
    </div>

    <div class="navbar">
        <a href="{% url 'landing_page' %}">Galano</a>
        <a href="{% url 'quienes_somos' %}">¿Quiénes Somos?</a>
        <a href="{% url 'tecnologias' %}">Tecnolgías Emergentes</a>
        <a href="{% url 'seguridad' %}">Seguridad y Tecnología</a>
        <a href="{% url 'constructora' %}">Constructora</a>
        <a href="{% url 'iniciosesion' %}">Inicio de Sesión</a>
    </div>
  <div class="main-content">
    <header>
        <h1>Bienvenido a tu Dashboard, {{ user.username }}!</h1>
        <p>Correo: {{ user.email }}</p>
    </header>

    <main>
        <h2>Tus Proyectos</h2>
        <ul>
            {% if proyectos %}
                {% for proyecto in proyectos %}
                    <li>
                        <strong>{{ proyecto.nombre }}</strong> - Estado: {{ proyecto.estado }}
                    </li>
                {% endfor %}
            {% else %}
                <li>No tienes proyectos asignados.</li>
            {% endif %}
        </ul>

        {% for proyecto in proyectos %}
        <div>
            <h3>{{ proyecto.nombre }}</h3>
            <p>{{ proyecto.descripcion }}</p>
            <!--  enlace para eliminar el proyecto y la relacion del proyecto con el id -->
            <a href="{% url 'eliminar_proyecto' proyecto.id %}" onclick="return confirm('¿Estás seguro de que quieres eliminar este proyecto?');">Eliminar Proyecto</a>
        </div>
    {% endfor %}

    <!-- Botón para crear una cita en el Dashboard -->
<div>
    <a href="{% url 'crear_cita' %}" class="btn-crear-cita">Crear una nueva cita</a>
</div>


        <!-- Enlace para crear un nuevo proyecto -->
        <div>
            <a href="{% url 'crear_proyecto' %}" class="btn-crear-proyecto">Crear un nuevo proyecto</a>
        </div>
    </main>

    <footer>
        <p><a href="{% url 'landing_page' %}">Cerrar sesión</a></p> <!--link para cerrar sesión -->
    </footer>
</div>
</body>
</html>
