<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo1.css' %}"> <!-- Asegúrate de tener un archivo de estilo si lo necesitas -->
</head>
<body>






    <div class="header-top">
        Grupo Galano
    </div>

    <div class="navbar">
        <a href="{% url 'quienes_somos' %}">¿Quiénes Somos?</a>
        <a href="{% url 'tecnologias' %}">Tecnologías Emergentes</a>
        <a href="{% url 'seguridad' %}">Seguridad y Tecnología</a>
        <a href="{% url 'constructora' %}">Constructora</a>
        <a href="{% url 'registro' %}">Registro</a>
    </div>

  
    <header>
        <h1>Bienvenido a tu Dashboard, {{ user.username }}!</h1>
        <p>Correo: {{ user.email }}</p>
    </header>

    <main>
        <h2>Tus Proyectos</h2>
        <ul>
            {% if proyectos %}
                {% for proyecto in proyectos %}
                    <li>
                        <strong>{{ proyecto.nombre }}</strong> - Estado: {{ proyecto.estado }}
                    </li>
                {% endfor %}
            {% else %}
                <li>No tienes proyectos asignados.</li>
            {% endif %}
        </ul>
    </main>

    <footer>
        <p><a href="{% url 'landing_page' %}">Cerrar sesión</a></p> <!-- Añadir link para cerrar sesión -->
    </footer>
</body>
</html>
