<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo1.css' %}">
</head>

<body>

    <!-- Header -->
    <div class="header-top">
        Grupo Galano
    </div>

    <!-- Navbar -->
    <div class="navbar">
        <a href="{% url 'landing_page' %}">Galano</a>
        <a href="{% url 'quienes_somos' %}">¿Quiénes Somos?</a>
        <a href="{% url 'tecnologias' %}">Tecnolgías Emergentes</a>
        <a href="{% url 'seguridad' %}">Seguridad y Tecnología</a>
        <a href="{% url 'constructora' %}">Constructora</a>
        <a href="{% url 'iniciosesion' %}">Inicio de Sesión</a>
    </div>

    <!-- Main Content: Formulario de inicio de sesión -->
    <div class="main-content">
        <h2>Inicia sesión en tu cuenta</h2>

        <!-- Formulario de inicio de sesión -->
        <div class="login-form">
            <form method="POST">
                {% csrf_token %}
                
                <!-- Aquí se renderizan los campos del formulario de manera más estilizada -->
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                
                <button type="submit" class="btn-submit">Iniciar Sesión</button>
            </form>
        </div>

        <!-- Enlace para registro -->
        <div class="registro-link">
            <p>¿No tienes cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>
        </div>

        <!-- Mostrar mensajes de error -->
        {% if messages %}
        <div class="error-messages">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        
    </div>

</body>

</html>
