<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo1.css' %}">
</head>
<body>

  <div class="header-top">
    Grupo Galano
 </div>


  <div class="navbar">
    <a href="{% url 'quienes_somos' %}">¿Quiénes Somos?</a>
    <a href="{% url 'tecnologias' %}">Tecnolgías Emergentes</a>
    <a href="{% url 'seguridad' %}">Seguridad y Tecnología</a>
    <a href="{% url 'constructora' %}">Constructora</a>
    <a href="{% url 'iniciosesion' %}">Inicio de Sesión</a>
</div>

     <h1>Galano Group</h1>
    <h2> Conoce nuestros servicios</h2>
    <!-- Aquí van otros contenidos -->
    
</body>
</html>
