<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quiénes Somos?</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo1.css' %}">
</head>
<body>

    <!-- Barra naranja superior -->
    <div class="header-top">
        Grupo Galano
    </div>

    <!-- Barra gris de navegación -->
    <div class="navbar">
        <a href="{% url 'quienes_somos' %}">¿Quiénes Somos?</a>
        <a href="{% url 'tecnologias' %}">Tecnolgías Emergentes</a>
        <a href="{% url 'seguridad' %}">Seguridad y Tecnología</a>
        <a href="{% url 'constructora' %}">Constructora</a>
        <a href="{% url 'iniciosesion' %}">Inicio de Sesión</a>
    </div>
    <!-- Contenido principal -->
    <div class="main-content">
        <h2>Esta es la vista dedicada para describir quiénes somos</h2>
        <p>En Grupo Galano, nos dedicamos a ofrecer soluciones innovadoras que satisfacen las necesidades de nuestros clientes. Descubre más sobre nuestra misión, visión y valores.</p>
    </div>

</body>
</html>
