<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quiénes Somos?</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo1.css' %}">
</head>
<body>

    <!-- Barra naranja superior -->
    <div class="header-top">
        Grupo Galano
    </div>

    <!-- Barra gris de navegación -->
    <div class="navbar">
        <a href="{% url 'quienes_somos' %}">¿Quiénes Somos?</a>
        <a href="{% url 'tecnologias' %}">Tecnolgías Emergentes</a>
        <a href="{% url 'seguridad' %}">Seguridad y Tecnología</a>
        <a href="{% url 'constructora' %}">Constructora</a>
        <a href="{% url 'iniciosesion' %}">Inicio de Sesión</a>
    </div>
    <!-- Contenido principal -->
    <div class="main-content">
        <h2>¿Quiénes Somos?</h2>
        <p>En Grupo Galano, nos dedicamos a ofrecer soluciones innovadoras que satisfacen las necesidades de nuestros clientes. Descubre más sobre nuestra misión, visión y valores.</p>
        <h4>Misión:</h4>
        <p>“Nuestra misión en Grupo Galano es proporcionar soluciones integrales y sostenibles que mejoren la calidad de vida de nuestros clientes y comunidades. Nos dedicamos a ofrecer tecnología de vanguardia en energía solar, sistemas de seguridad confiables y la creación de espacios abiertos funcionales y estéticamente atractivos. Trabajamos con compromiso y profesionalismo para garantizar la satisfacción de nuestros clientes, promoviendo la eficiencia energética, la seguridad y el bienestar en cada proyecto que emprendemos.”</p>

        <h4>Visión:</h4>
        <p>“Ser líderes en la provisión de servicios de tecnología y construcción, reconocidos por nuestra innovación, calidad y enfoque en la sostenibilidad. En Grupo Galano, aspiramos a marcar la diferencia en cada hogar y empresa que atendemos, liderando la adopción de tecnologías emergentes y soluciones de seguridad avanzadas, así como la construcción de espacios abiertos que inspiren y transformen entornos. Nos esforzamos por ser un referente de confianza en el mercado, ofreciendo un servicio excepcional que impulse un futuro más seguro y sostenible para todos.”</p>
    </div>

</body>
</html>
