<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnologias Emergentes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo1.css' %}">
</head>
<body>

    <!-- Barra naranja superior -->
    <div class="header-top">
       Grupo Galano
    </div>

    <!-- Barra gris de navegación -->
    <div class="navbar">
        <a href="{% url 'quienes_somos' %}">¿Quiénes Somos?</a>
        <a href="{% url 'tecnologias' %}">Tecnolgías Emergentes</a>
        <a href="{% url 'seguridad' %}">Seguridad y Tecnología</a>
        <a href="{% url 'constructora' %}">Constructora</a>
        <a href="{% url 'iniciosesion' %}">Inicio de Sesión</a>
    </div>

    <h1>Galano Group</h1>
    <h2> Tecnologias Emergentes</h2>
    <!-- Aquí van otros contenidos -->
    
</body>
</html>