<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnologias Emergentes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo1.css' %}">
</head>
<body>

    <!-- Barra naranja superior -->
    <div class="header-top">
       Grupo Galano
    </div>

    <!-- Barra gris de navegación -->
    <div class="navbar">
        <a href="{% url 'quienes_somos' %}">¿Quiénes Somos?</a>
        <a href="{% url 'tecnologias' %}">Tecnolgías Emergentes</a>
        <a href="{% url 'seguridad' %}">Seguridad y Tecnología</a>
        <a href="{% url 'constructora' %}">Constructora</a>
        <a href="{% url 'iniciosesion' %}">Inicio de Sesión</a>
    </div>

    <h2>Tecnologías Emergentes</h2>
    <div class="main-content">
        <h3>"Revoluciona tu Energía con Paneles Solares"</h3>
        <p>Ahorra en tus facturas de electricidad y contribuye al cuidado del medio ambiente con nuestras soluciones de energía solar personalizadas.</p>
        <p>En Grupo Galano, creemos en un futuro más limpio y eficiente. Por eso, ofrecemos soluciones de energía solar adaptadas a tus necesidades. Nuestros paneles solares no solo reducen tus costos energéticos, sino que también ayudan a preservar el planeta.</p></div>
        <img class="imagen" src="images/paneles.jpg" alt="paneles solares" width="400">
        <ul>
            <li><strong>Paneles solares residenciales:</strong></li>Diseñados para hogares que desean reducir su huella de carbono y sus costos de energía.
            <ul>
                <li>Ahorro en costos: Reducción significativa en las facturas de electricidad.</li>
                <li>Sostenibilidad: Disminución de la huella de carbono.</li>
                <li>Independencia energética: Menor dependencia de la red eléctrica.</li>
            </ul>
            <li><strong>Paneles solares comerciales:</strong></li>Soluciones para empresas que buscan una operación más sostenible y rentable.
            <ul>
                <li>Reducción de costos operativos y ahorro energético.</li>
                <li>Proyección de una imagen sostenible para atraer clientes.</li>
                <li>Acceso a incentivos fiscales por inversión en energía renovable.</li>
            </ul>
            <li><strong>Mantenimiento y Monitoreo:</strong></li>Ofrecemos servicios de mantenimiento regular y monitoreo en tiempo real para asegurar el máximo rendimiento de tu sistema solar.
            <ul>
                <li>Mantenimiento regular: Limpieza y revisión de componentes.</li>
                <li>Monitoreo en tiempo real: Supervisión del rendimiento a través de plataformas avanzadas.</li>
                <li>Reparaciones rápidas: Alertas automáticas para identificar problemas.</li>
            </ul>
        </ul>
    </div>

    <div class="main-content">
        <img class="imagen" src="images/paneles2.jpg" alt="paneles solares" width="400">
        <h3>Beneficios de Usar Energía Solar</h3>
        <ul>
            <li>Contribución al cuidado del medio ambiente.</li>
            <li>Aumento del valor de la propiedad.</li>
            <li>Sistemas duraderos con vida útil de 25 a 30 años.</li>
            <li>Opciones de financiamiento accesibles.</li>
        </ul>
    
        <h3>¿Por Qué Elegir Grupo Galano?</h3>
        <p>
            En <strong>Grupo Galano</strong>, ofrecemos soluciones personalizadas y de alta calidad en energía solar:
        </p>
        <ul>
            <li>Diseño a medida según tus necesidades específicas.</li>
            <li>Equipos de alta calidad y tecnología avanzada.</li>
            <li>Atención al cliente integral durante todo el proceso.</li>
        </ul>
    
        <a href="{% url 'iniciosesion' %}" target="_blank" class="btn">Solicita una cotizacion gratis</a>
       </div>

    
</body>
</html>